:root {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "sans-serif";
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#main-section {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#survey123-panel {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

#ookla-panel {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.panel {
  position: absolute;
  z-index: 1;
}

.panel.hide {
  z-index: 0;
  /*display: none;*/
}

.panel iframe {
  width: 100vw;
  min-height: 100vh;
}
